@use "sass:list";

@mixin hover($properties, $values) {
  transition: #{list.join($properties, ", ")} 0.3s;

  &:hover {
    @for $i from 1 through length($properties) {
      $property: list.nth($properties, $i);
      $value: list.nth($values, $i);

      #{$property}: $value;
    }
  }
}
